/*Default styling*/
html {
	box-sizing: border-box;
}
html:focus-within {
	scroll-behavior: smooth;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}
html,
body {
	height: 100%;
	margin: 0;
}

header {
	display: flex;
	height: 58px;
	padding: 10px;
}

main {
	min-height: 100%;
	margin-bottom: -50px;
}
p {
	padding: 0 20px;
}

a,
a:visited,
a:link {
	color: black;
}

h1 {
	text-align: center;
	font-size: 2em;
}
h1,
h2,
h3 {
	font-family: "Source Sans 3", sans-serif;
}
footer {
	display: flex;
	background-color: #0a3641;
	color: #fff;
	padding: 20px 10px;
	text-align: center;
	height: 50px;
	margin-top: 60px;
}

footer a {
	flex: 1;
	color: #fff;
	text-decoration: none;
}
footer a:visited {
	color: #fff;
}
.logo {
	height: 48px;
	flex: 2;
}

@media screen and (min-width: 768px) {
	header {
		height: 116px;
		padding: 26px;
	}
	.logo {
		height: 80px;
	}
}
button {
	background-color: #0a3641;
	color: #fff;
	border: none;
	padding: 8px 30px;
	border-radius: 10px;
}
button:hover {
	opacity: 0.8;
	cursor: pointer;
}
.button-row {
	flex: 4;
	text-align: right;
}
.button-row i {
	font-size: 26px;
	margin-top: 10px;
	margin-right: 10px;
}

.search-bar {
	width: 126px;
}

.search,
#search-checkbox {
	display: none;
}
#search-checkbox:checked ~ .search {
	display: block;
	position: absolute;
	right: 138px;
	top: 30px;
}
nav,
#menu-checkbox {
	display: none;
}
#menu-checkbox:checked ~ nav {
	display: block;
	position: absolute;
	right: 0;
	top: 58px;
	width: 100%;
}
nav {
	background: #0a3641;
	z-index: 1000;
}

nav a {
	display: block;
	color: #fff;
	padding: 8px 16px;
	text-decoration: none;
	text-align: left;
}
nav a:hover {
	background-color: grey;
	color: #fff;
}
nav a:visited {
	color: #fff;
}
.main-header {
	background-image: url("../images/graphics/mountain.jpg");
	height: 50px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

@media screen and (min-width: 768px) {
	.search,
	#search-checkbox:checked ~ .search {
		display: block;
		position: absolute;
		top: 42px;
		right: 100px;
	}
	.search-bar {
		height: 30px;
	}
	.search-icon-label {
		display: none;
	}

	.menu-icon-label {
		display: none;
	}
	nav,
	#menu-checkbox:checked ~ nav {
		display: block;
		background: transparent;
		display: grid;
		grid-template-columns: 75px 75px 75px;
		position: absolute;
		left: 324px;
		top: 80px;
		width: auto;
	}
	nav a,
	nav a:visited {
		color: black;
		font-weight: bold;
	}

	.selected-page {
		text-decoration: underline;
	}

	.main-header {
		height: 150px;
	}
}

/****
Frontpage
******/
.product-category {
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	margin-top: 50px;
	text-align: center;
}
.product-category:hover img {
	border: 1px solid black;
}
.product-category span {
	position: absolute;
	top: 66px;
	margin-left: 10px;
}
.product-img-woman,
.product-img-man {
	height: 150px;
	width: 110px;
	border-radius: 10px;
}
@media screen and (min-width: 768px) {
	.product-categories {
		display: grid;
		grid-template-columns: auto auto;
	}

	.product-category span {
		display: block;
		position: static;
		margin: 0;
	}

	.product-img-woman,
	.product-img-man {
		height: 300px;
		width: 220px;
		opacity: 0.7;
	}
	.product-category {
		margin-top: 140px;
	}
	.product-category a {
		text-decoration: none;
	}
	.product-category:hover img {
		opacity: 1;
	}
}

/***
Contact us
******/
.contact-page {
	text-align: center;
}
.canoe-img {
	margin-bottom: 66px;
}
.canoe-img img {
	height: 200px;
	width: 200px;
	border-radius: 50%;
}

@media screen and (min-width: 768px) {
}

/****
List page
*****/
.jacket-list {
	margin-bottom: 74px;
	list-style-type: none;
	text-align: center;
}
.jacket-list li img {
	width: 70px;
	flex: 1;
}
.jacket-list li {
	margin: 60px 0;
}

.jacket-list li:hover {
	text-decoration: underline;
}

.jacket-list a {
	display: flex;
	text-decoration: none;
}
.jacket-list div {
	flex: 2;
}
.jacket-list p {
	margin: 10px;
}
.jacket-list .price {
	font-weight: bold;
	font-style: italic;
}
@media screen and (min-width: 768px) {
	.jacket-list a {
		display: block;
	}
	.jacket-list {
		display: grid;
		grid-template-columns: auto auto auto;
	}
	.jacket-list li img {
		width: 130px;
	}
}
/******
Product page
******/
.product-page {
	text-align: center;
}
.img-productpage {
	width: 130px;
	margin-top: 60px;
}
.price {
	font-weight: bold;
}
.buy-button {
	margin-top: 20px;
}
.img-other {
	display: grid;
	grid-template-columns: auto auto auto;
	justify-content: center;
	grid-gap: 40px;
	margin-bottom: 80px;
}
.img-other img {
	width: 50px;
}
@media screen and (min-width: 768px) {
	.image-cont {
		display: grid;
		grid-template-columns: 150px 300px;
		text-align: center;
		margin: 0 auto 30px auto;
		width: 450px;
	}
	.buy-button {
		margin: 30px;
	}
	.description {
		max-width: 500px;
		margin: 0 auto;
	}

	.img-other img {
		width: 100px;
	}
	.img-other {
		gap: 80px;
	}
	.product-page h1 {
		margin-top: 60px;
	}
}

/******
Form
*****/
.form div {
	margin: 20px auto;
	width: 270px;
}
.form label {
	display: block;
	text-align: left;
	font-weight: bold;
}
.form input,
.form textarea {
	border-radius: 5px;
	width: 100%;
	height: 38px;
}
.button-sub {
	margin-top: 20px;
}
.valid-cvc-container {
	display: grid;
	grid-template-columns: 144px auto;
	gap: 34px;
}
.valid-cvc-container div {
	width: auto;
}
.fa-solid-fa-check {
	width: 50px;
}

/******
checkout
*****/
.checkout-page {
	text-align: center;
}

/******
payment
*****/
.payment-page {
	text-align: center;
}

/******
thankyou
*****/
.thankyou-page {
	text-align: center;
}
.check-mark i {
	font-size: 50px;
	margin-top: 50px;
	margin-bottom: 40px;
}
/******
about
*****/
.about-page {
	text-align: center;
}
@media screen and (min-width: 768px) {
	.about-page p {
		max-width: 500px;
		margin: 0 auto 60px auto;
	}
	.canoe-img img {
		height: 400px;
		width: 400px;
		border-radius: 0;
	}
}
