
header {
    grid-area: myheader;
    display:flex;
    height: 58px;
    padding:10px;
  }
  
  main {
    grid-area: mymain;
    
  }
  footer {
    grid-area: myfooter;
    
  }
  

body{
    display: grid;
    grid-template-areas: 
    "myheader"
    "mymain"
    "myfooter";
    margin:0;
}

.logo{
    height: 48px;
    flex:2;
   
}
.button-row{
    flex:4;
    text-align: right;
}
.button-row i{
    font-size: 26px;
    margin-top: 18px;
    margin-right: 10px;
}
.main-header{
    background-image: url("../images/graphics/hike.jpg");
    height:50px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.product-img-woman, .product-img-man{
    height:150px;
    border-radius: 10px;
}

footer{
    display:flex;
    background-color:#0A3641;
    color:#fff;
    padding: 20px 10px;
    text-align: center;
    }

footer a{
    flex:1
}